<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter mail</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename = 'css/styl.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor='#dwfadw'>

    <img class="wave" src= " {{ url_for('static',filename = 'images/wave.png') }}">
	<div class="container">
		<div class="img">
			<img src="{{ url_for('static',filename = 'images/bg.svg') }}">
		</div>

        <div class="login-content">


<form method=POST>



        <img src="{{ url_for('static',filename = 'images/avatar.svg')}}">
            <h2 class="title"><font size="4px">Enter 5 digit OTP </font> </h2>

            <div class="div">

    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}



        {{ form.otp }} <br> <br>
        </div>
     <p class = 'btn'>  {{ form.submit() }}  </p>







        </form>
            </div>

    </div>


 </body>
</html>